.header {
  min-width: 360px;
}

.headerWrapper {
  min-width: 360px;
  width: 100vw;
  height: 64px;
  align-items: center;
  position: fixed;
  z-index: 999;
  display: flex;
  /* color: #fff; */
  transition: background-color 0.2s linear 0s;
  
  @media screen and (max-width: 767px) {
    width: 100vw;
    max-width:100%;
    height: 56px;
  }

  @media screen and (max-width: 782px) {
    transition: none;
  }
}

.navbar {
  padding: 0 16px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 767px) {
    margin-top: 4px;
  }
}

.logo {
  width: 80px;
  height: auto;
  padding: 10px;
  padding-left: 0;

  @media(min-width: 767px) {
  }
}

.navItemWrapper {
  @media screen and (max-width: 782px) {
    display: none;
  }
}

.navItemList {
  display: flex;
  align-items: center;
  font-size: 16px;

  margin: 0;
  padding: 0;
}

.navItem {
  cursor: pointer;
  margin: 0 4px;
  padding: 12px;
  font-weight: 500; 
}

.appDownbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  width: 138px;
  height: 40px;
    
  @media screen and (max-width: 782px) {
    display: none;
  }
    
  @media screen and (max-width: 767px) {
    border: none;
  }
}