@use '../../common/common';

@mixin flex-center($position) {
  position: #{$position};
  display: flex;
  justify-content: center;
}

.container {
  @include flex-center(relative);
  height: 100vh;
  overflow: hidden;
  min-width: 360px;

  @media (max-width:782px) {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
}

.innerContainer {
  position: absolute;
  display: flex;
  padding-left: 16px;
  min-width: 768px;
  max-width: 1024px;
  width: 100%;
  height: 100vh;

  @media (max-width: 1038px) {
    padding-left: 56px;
  }

  @media (max-width:782px) {
    padding-left: 0;
  }

}

.headerContainer {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  @include flex-center(absolute);

  @media (max-width:1050px) {
    padding-left: 4px;
  }
  
  @media (max-width: 782px) {
    width: 100%;
    position: absolute;
    padding-left: 0;
  }
}

.headerWrapper {
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 782px) {
    align-items: center;
    text-align: center;
  }
}

.header {
  font-size: 54px;
  
  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.descriptionWrapper {
  font-size: 22px;
  margin-top: 18px;

  @media (max-width: 782px) {
    font-size: 18px;
    text-align: center;
  }

  @media (max-width: 767px) {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
  }

  &_bt {
    @media (max-width: 782px) {
      text-align: center;
    }

    @media (max-width: 1025px) {
      margin-left: 5px;
    }
  }
}

.description {
  padding-bottom: 4px;

  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.goBtn {
  @extend %basic_button;

  @media (max-width: 767px) {
    display: none;
  }
}

.imgWrapper {
  height: 100vh;
  width: 100%;
}

.img {
  width: auto;
  height: 100vh;
  object-fit: cover;

  &_m {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Banner-Middle.jsx
.m_container {
  @extend .container;
  height: 500px;
  text-align: center;
  align-items: center;
  @include flex-center(relative);
    
  @media(max-width: 767px) {
    height: 100vh;
  }
}

.m_headerWrapper {
  @extend .headerWrapper;
  position:absolute;
  font-size: 40px;
}

.m_headerWrapper > h1 {
  @media(max-width: 767px) {
    font-size: 38px;
  }
}

// Banner-Bottom.jsx
.bt_container {
  @extend .container;
  background-color: var(--primary);
  height: 540px;
 
  @media(max-width: 767px) {
    height: 900px;
  }
}

.bt_innerContainer {
  @extend .innerContainer;
  height: 100%;
}

.bt_innerContainer > .headerContainer {
  @media(max-width: 767px) {
    justify-content: flex-start;
    align-items: center;
  }
}

.bt_innerContainer > .headerContainer > .headerWrapper {
  @media(max-width: 767px) {
    margin-top: 40px;
  }
}

.bt_goBtn {
  @extend .goBtn;
  background-color: var(--color-white);
  color: var(--primary);
  width: 200px;
  margin-top: 16px;

  @media (max-width: 782px) {
    width: 500px;
  }
}

.bt_description {
  color: #c1c1c1;
  font-size: 13px;
  padding: 28px 0 0 4px;
  
  @media(max-width: 767px) {
    width: 293px;
    padding: 24px 0 0 0;
    margin: 0 auto;
  }
}