@use '../../common/common';

.container {
  @extend %basic_container;
  height: 690px;

  @include common.responsive_size {
    height: 900px;
  }

  @include common.mobile_size {
    height: 760px;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.header {
  @extend %basic_header;
}

.cardWrapper {
  margin-top: 40px;
  padding: 28px 0 0 80px;
  display: flex;
  position: relative;
  
  @include common.responsive_size {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
}
  
.card {
  background-color: var(--color-gray1);
  width: 384px;
  height: auto;
  padding: 32px 32px 18px 32px;
  border-radius: 18px;
  
  @include common.responsive_size {
    position: absolute;
    width: calc(100% - 124px);
    height: auto;
    padding: 24px 24px 10px 24px;
    margin-left: 70px;
  }

  @media (max-width: 1025px) {
    margin-left: 0;
    width: calc(100% - 34px);
  }

  @include common.mobile_size {
    margin-left: 0;
    width: calc(100% - 48px);
  }

  &_right {
    @extend .card;
    background-color: #E7EBFA;
    height: auto;
    position: absolute;
    top: 70px;
    left: 552px;
    
    @include common.responsive_size {
      top: 288px;
      left: 0;
      height: 236px;
      padding-bottom: 24px;
    }

    @include common.mobile_size {
      top: 254px;
    }
  }
}
  
.cardTitle {
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;

  @include common.mobile_size {
    font-size: 12px;
  }
}

.cardDescription {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;

  @include common.mobile_size {
    font-size: 16px;
    line-height: 26px;
  }
}

.logoWrapper {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  margin-top: 32px;
  float: right;
  
  @include common.mobile_size {
    justify-content: normal;
  }

  @media screen and (max-width: 406px) {
    flex-wrap:nowrap;
    scale: 0.9;
    transform: translateX(-16px)
  }

  &_right {
    @extend .logoWrapper;
    width: 294px;

    @include common.responsive_size {
      width: 100%;
    }

    @include common.mobile_size {
      width: 294px;
      float: none;
    }

    @media screen and (max-width: 406px) {
      flex-wrap: wrap;
    }
  }
}

.partners {
  width: auto;
  height: 34px;
  padding: 0 0 14px 24px;

  &_hana {
    width: auto;
    height: 34px;
    padding: 0 6px 14px 0;
  }

  &_fp {
    padding: 0 8px 14px 24px;
    width: auto;
    height: 34px;
  }

  &_kakao {
    width: auto;
    height: 25px;
    padding: 2px 4px 14px 16px;
  }

  &_bottom {
    width: auto;
    height: 34px;
    padding: 0 0 14px 22px;
  }

  @include common.mobile_size {
    padding-left: 0;
    padding-right: 25px;

    &_right {
      padding: 0 25px 16px 0;
      width: auto;
      height: 33px;
    }

    &_hana {
      padding: 0 24px 14px 0;
    }
  
    &_fp {
      padding: 0 19px 14px 0;
    }

    &_kakao {
      width: auto;
      height: 24px;
      padding: 4px 2px 14px 0;
    }

    &_bottom {
      padding: 0 15px 14px 17px;
    }
  }
}
  
/* Info-Corp.jsx */
.infoContainer_corp {
  @extend %basic_container;
  height: auto;
  padding-bottom: 100px;
}

.header_corph {
  @extend .header;
  font-size: 22px;
  line-height: 36px;

  @media (max-width: 782px) {
    width: 540px;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  margin: 32px 0 0 80px;
  
  @media (max-width: 1025px) {
    margin: 32px 0;
  }

  @include common.mobile_size {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.btnWrap > a {
  @include common.mobile_size {
    width: 100%;
  }
}

.helpBtn {
  @extend %basic_button;
  width: 107px;
  margin-top: 0;
  margin-right: 30px;
  
  @include common.mobile_size {
    display: block;
    margin: 32px 0 0 0;
    width: 100%;
  }
}
  
.downloadText {
  color: #A1A0A8;
  text-decoration: underline;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}