@mixin flex-center($position) {
  position: #{$position};
  display: flex;
  justify-content: center;
}

.container {
  height: 100vh;
  overflow: hidden;
  min-width: 360px;
  @include flex-center(relative);

  @media (max-width:767px) {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
}

.innerContainer {
  padding-left: 16px;
  position: absolute;
  display: flex;
  min-width: 1024px;
  height: 100vh;
  width: 100%;
  max-width: 1024px;
}

.headerContainer {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  @include flex-center(absolute);
  
  @media (max-width: 767px) {
    width: 100%;
    position: absolute;
  }

  &_bt {
    @media(max-width: 767px) {
      padding-top: 136px;
      justify-content: flex-start;
    }
  }
}

.headerWrapper {
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 767px) {
    align-items: center;
    text-align: center;
  }
}

.header {
  font-size: 54px;
  
  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.descriptionWrapper {
  font-size: 22px;
  margin-top: 18px;

  @media (max-width: 767px) {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
  }
}

.description {
  padding-bottom: 4px;

  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.goBtn {
  background-color: var(--primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  width: 168px;
  height: 48px;
  margin-top: 32px;

  @media (max-width: 767px) {
    display: none;
  }
}

.imgWrapper {
  width: 100%;
  height: 100vh;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &_m {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Banner-Middle.jsx
.m_container {
  @extend .container;
  height: 500px;
  text-align: center;
  align-items: center;
  @include flex-center(relative);
    
  @media(max-width: 767px) {
    height: 100vh;
  }
}

.m_headerWrapper {
  @extend .headerWrapper;
  position:absolute;
  font-size: 38px;
}

// Banner-Bottom.jsx
.bt_container {
  @extend .container;
  background-color: var(--primary);
  height: 540px;
 
  @media(max-width: 767px) {
    height: 1000px;
  }
}

.bt_innerContainer {
  @extend .innerContainer;
  height: 100%;
}

.bt_goBtn {
  @extend .goBtn;
  background-color: var(--color-white);
  color: var(--primary);
  width: 200px;
  margin-top: 16px;
}

.bt_description {
  color: #c1c1c1;
  font-size: 13px;
  padding: 28px 0 0 4px;
  
  @media(max-width: 767px) {
    width: 270px;
    padding: 24px 0 0 0;
    margin: 0 auto;
  }
}