%full_container {
  height: auto;
  padding: 100px 0 100px 0;
  overflow-y: hidden;
  overflow-x: hidden;

  @media (max-width: 767px) {
    padding: 80px 0 80px 0;
    position: relative;
    height: 760px;
  }
    
  @media (max-width: 1049px) {
  }
}

%basic_container {
  height: 690px;
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 16px 0 16px;
  overflow-y: hidden;
  overflow-x: hidden;

  @media (max-width: 767px) {
    padding: 80px 0 80px 0;
    margin: 0 16px;
    position: relative;
    height: 760px;
  }
    
  @media (max-width: 1049px) {
    margin: 0 16px;
  }
}

.headerWrapper {
  margin: 38px 0 0 80px;
  
  @media (max-width: 767px) {
    margin: 0;
    padding-top: 10px;
  }
}
  
%basic_header {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  
  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
  }
} 