.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 16px 0 16px;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .container {
    padding: 80px 0 80px 0;
    margin: 0 16px;
    position: relative;
    height: 760px;
  }
}
@media (max-width: 1049px) {
  .container {
    margin: 0 16px;
  }
}

@media (max-width: 767px) {
  .headerWrapper {
    margin: 0;
    padding-top: 24px;
  }
}
@media (max-width: 1025px) {
  .headerWrapper {
    margin: 24px 0;
  }
}

.container {
  padding: 100px 0 80px 0;
  height: auto;
}

.header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1015px) {
  .container {
    margin: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 24px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .list {
    flex-direction: column;
    padding: 0;
  }
}

.item {
  cursor: pointer;
  width: calc(50% - 20px);
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 1015px) {
  .item {
    width: 100%;
  }
}

.itemContainer {
  border-radius: 4px;
}
@media screen and (max-width: 1015px) {
  .itemContainer {
    width: 100%;
  }
}

.thumnailContainer {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1015px) {
  .thumnailContainer {
    width: 100%;
  }
}

.endInfo {
  z-index: 1;
  position: absolute;
  font-size: 1.7rem;
  font-weight: 500;
  color: #b5b5b5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 494px) {
  .endInfo {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 440px) {
  .endInfo {
    font-size: 1.2em;
  }
}

.thumnail {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  height: 100%;
}
@media screen and (max-width: 1015px) {
  .thumnail {
    width: 100%;
  }
}
.thumnail_end {
  filter: brightness(0.3);
  height: 100%;
}
@media screen and (max-width: 1015px) {
  .thumnail_end {
    width: 100%;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
}

.status, .status_end {
  font-size: 14px;
  margin-top: 4px;
  color: var(--primary);
}
.status_end {
  color: var(--color-gray);
}