.container, .infoContainer_corp {
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 16px 0 16px;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .container, .infoContainer_corp {
    padding: 80px 0 80px 0;
    margin: 0 16px;
    position: relative;
    height: 760px;
  }
}
@media (max-width: 1049px) {
  .container, .infoContainer_corp {
    margin: 0 16px;
  }
}

.headerWrapper {
  margin: 38px 0 0 80px;
}
@media (max-width: 767px) {
  .headerWrapper {
    margin: 0;
    padding-top: 24px;
  }
}
@media (max-width: 1025px) {
  .headerWrapper {
    margin: 24px 0;
  }
}

.header, .header_corph {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
}
@media (max-width: 767px) {
  .header, .header_corph {
    font-size: 20px;
    line-height: 30px;
  }
}

.helpBtn {
  background-color: var(--primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  width: 168px;
  height: 48px;
  margin-top: 32px;
}

.container {
  height: 690px;
}
@media (max-width: 1048px) {
  .container {
    height: 900px;
  }
}
@media (max-width: 767px) {
  .container {
    height: 760px;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.cardWrapper {
  margin-top: 40px;
  padding: 28px 0 0 80px;
  display: flex;
  position: relative;
}
@media (max-width: 1048px) {
  .cardWrapper {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
}

.card, .card_right {
  background-color: #F6F6F9;
  width: 384px;
  height: auto;
  padding: 32px 32px 18px 32px;
  border-radius: 18px;
}
@media (max-width: 1048px) {
  .card, .card_right {
    position: absolute;
    width: calc(100% - 124px);
    height: auto;
    padding: 24px 24px 10px 24px;
    margin-left: 70px;
  }
}
@media (max-width: 1025px) {
  .card, .card_right {
    margin-left: 0;
    width: calc(100% - 34px);
  }
}
@media (max-width: 767px) {
  .card, .card_right {
    margin-left: 0;
    width: calc(100% - 48px);
  }
}
.card_right {
  background-color: #E7EBFA;
  height: auto;
  position: absolute;
  top: 70px;
  left: 552px;
}
@media (max-width: 1048px) {
  .card_right {
    top: 288px;
    left: 0;
    height: 236px;
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .card_right {
    top: 254px;
  }
}

.cardTitle {
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .cardTitle {
    font-size: 12px;
  }
}

.cardDescription {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .cardDescription {
    font-size: 16px;
    line-height: 26px;
  }
}

.logoWrapper, .logoWrapper_right {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  margin-top: 32px;
  float: right;
}
@media (max-width: 767px) {
  .logoWrapper, .logoWrapper_right {
    justify-content: normal;
  }
}
.logoWrapper_right {
  width: 294px;
}
@media (max-width: 1048px) {
  .logoWrapper_right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .logoWrapper_right {
    width: 294px;
    float: none;
  }
}

.partners {
  width: auto;
  height: 34px;
  padding: 0 0 14px 24px;
}
.partners_hana {
  width: auto;
  height: 34px;
  padding: 0 6px 14px 0;
}
.partners_fp {
  padding: 0 8px 14px 24px;
  width: auto;
  height: 34px;
}
.partners_kakao {
  width: auto;
  height: 25px;
  padding: 2px 4px 14px 16px;
}
.partners_bottom {
  width: auto;
  height: 34px;
  padding: 0 0 14px 22px;
}
@media (max-width: 767px) {
  .partners {
    padding-left: 0;
    padding-right: 25px;
  }
  .partners_right {
    padding: 0 25px 16px 0;
    width: auto;
    height: 33px;
  }
  .partners_hana {
    padding: 0 24px 14px 0;
  }
  .partners_fp {
    padding: 0 19px 14px 0;
  }
  .partners_kakao {
    width: auto;
    height: 24px;
    padding: 4px 2px 14px 0;
  }
  .partners_bottom {
    padding: 0 15px 14px 17px;
  }
}

/* Info-Corp.jsx */
.infoContainer_corp {
  height: auto;
  padding-bottom: 100px;
}

.header_corph {
  font-size: 22px;
  line-height: 36px;
}
@media (max-width: 782px) {
  .header_corph {
    width: 540px;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  margin: 32px 0 0 80px;
}
@media (max-width: 1025px) {
  .btnWrap {
    margin: 32px 0;
  }
}
@media (max-width: 767px) {
  .btnWrap {
    flex-direction: column-reverse;
    align-items: start;
  }
}

@media (max-width: 767px) {
  .btnWrap > a {
    width: 100%;
  }
}

.helpBtn {
  width: 107px;
  margin-top: 0;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .helpBtn {
    display: block;
    margin: 32px 0 0 0;
    width: 100%;
  }
}

.downloadText {
  color: #A1A0A8;
  text-decoration: underline;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}