.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 16px 0 16px;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .container {
    padding: 80px 0 80px 0;
    margin: 0 16px;
    position: relative;
    height: 760px;
  }
}
@media (max-width: 1049px) {
  .container {
    margin: 0 16px;
  }
}

@media (max-width: 767px) {
  .headerWrapper {
    margin: 0;
    padding-top: 24px;
  }
}
@media (max-width: 1025px) {
  .headerWrapper {
    margin: 24px 0;
  }
}

.container {
  padding: 100px 0 80px 0;
  height: auto;
}

.header, .helpHeader {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .header, .helpHeader {
    padding: 0;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.infoContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .infoContainer {
    padding: 0;
    margin-top: 20px;
  }
}

.infoWrapper {
  cursor: pointer;
  border: 1px solid #E8E8EC;
  height: 502px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .infoWrapper {
    flex-direction: column;
    justify-content: normal;
    height: auto;
  }
}

.imgContainer {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .imgContainer {
    width: 100%;
    height: 50%;
  }
}

.thumnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .thumnail {
    height: calc(50vh - 50px);
  }
}

.innerInfoWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0%;
}
@media screen and (max-width: 767px) {
  .innerInfoWrapper {
    width: 100%;
    height: 50%;
  }
}

.statusContainer {
  margin: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .statusContainer {
    margin: 10px 0;
  }
}

.status, .status_done {
  color: var(--primary);
  background-color: var(--color-gray1);
  display: inline-block;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 39px;
  text-align: center;
  padding: 0px 20px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .status, .status_done {
    scale: 0.75;
  }
}
.status_done {
  color: var(--color-white);
  background-color: var(--primary);
}

.buildingName {
  font-size: 40px;
  margin: 10px 40px 8px 40px;
}
@media screen and (max-width: 767px) {
  .buildingName {
    margin: 0 16px 0 16px;
    font-size: 28px;
  }
}

.buildingAddress, .buildingAddress_white {
  margin: 0 40px 0 40px;
  font-size: 16px;
  font-weight: 600;
  color: #555555;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .buildingAddress, .buildingAddress_white {
    margin: 10px 16px 0 16px;
    font-size: 14px;
  }
}
.buildingAddress_white {
  color: var(--color-white);
}

.locationIcon, .locationIcon_white {
  font-size: 20px;
  margin-right: 4px;
}
.detailOptionWrapper {
  margin: 0 40px 40px 40px;
}
@media screen and (max-width: 767px) {
  .detailOptionWrapper {
    margin: 0 16px 16px 16px;
  }
}

.detailOption, .detailOption_first {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.detailOption_first {
  border-top: 1px solid #E8E8EC;
  padding-top: 23px;
}
@media screen and (max-width: 767px) {
  .detailOption_first {
    padding-top: 10px;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .detailOption, .detailOption_first {
    margin-top: 10px;
  }
}

.optionTitle {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .optionTitle {
    font-size: 14px;
  }
}

.option {
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .option {
    font-size: 14px;
  }
}

.helpContainer {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .helpContainer {
    margin-bottom: 0;
  }
}

.helpHeader {
  margin-bottom: 16px;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .helpHeader {
    font-size: 20px;
  }
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .cardWrapper {
    flex-direction: column;
    padding: 0;
  }
}

.leftCard, .rightCard {
  background-color: #EF9083;
  display: flex;
  height: 160px;
  width: 486px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .leftCard, .rightCard {
    width: 100%;
    height: 90px;
    margin-bottom: 16px;
  }
}

.rightCard {
  background-color: #85A2EB;
}

.cardTitle {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .cardTitle {
    margin-left: 16px;
    font-size: 16px;
  }
}